{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <section class="wrapper">
            <h1 class="left">
                <a href="">
                    <img src="{% static 'images/logo.png' %}" alt="logo">
                </a>
            </h1>
            <div class="right">
                {% if request.user.is_authenticated %}
                <span>{{request.user.username}}</span>
                <a href="{% url 'user:logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'user:login' %}">Login</a>
                {% endif %}
            </div>
        </section>
    </header>
</body>
</html>