{% extends "users/auth_base.html" %}
{% block content %}
{% load static %}
            <div class="top">
                Signup Page
            </div>
            <div>
                <!-- superuser username: rahul    password: 1234 -->
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                    {% endfor %}
                    {% if error %}
                        <p class="error-message">{{message}}</p>
                    {% endif %}
                    <button type="submit">Login</button>
                    <a href="{% url 'user:login' %}">create account</a>
                </form>
            </div> 
{% endblock %}