a{
    text-decoration: none;
    color: #000000;
}

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .right a{
    padding: 10px 20px;
    background-color: red;
}


#login {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center; /* Center the content within the container */
}

#login .container {
    background-color: #f2f2f2;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

#login .container .top {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#login .container label {
    display: block;
    margin-bottom: 5px;
}

#login .container input[type="text"],
#login .container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#login .container button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login .container button:hover {
    background-color: #45a049;
}
